<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github2</id>
            <username>Boomaa23</username>
            <password>b344cf374b3f1db19ed991c9e4dd4914ae21cb37</password>
        </server>
    </servers>
</settings>
