<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>github-ci</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>github-ci</id>
                    <name>GitHub Boomaa23 Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/Boomaa23/neo-aws-s3-upload</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github-ci</activeProfile>
    </activeProfiles>

    <servers>
        <server>
            <id>github-ci</id>
            <username>Boomaa23</username>
            <password>c92838c7880eff44ac8fd54a2f3e13d5cff66dda</password>
        </server>
    </servers>
</settings>
